# Python specific
*.pyc
.mypy_cache/
.pytest_cache/

# PyCharm
.idea/

# Wily
wily_reporter.sh
wily*

# Project specific files
*.png
config.py
new_event_messages_send.txt
plot_subscribers.py
subscribers.txt
subscribed.txt

# Project specific folders
gracebot/img/
