requests==2.21.0
timeago==1.0.10
lxml==4.6.2
numpy==1.16.3
more_itertools==7.2.0
aiogram==2.1
astropy==3.1.2
pygcn==0.1.19
ligo_gracedb==2.2.2
pygcn==0.1.19
matplotlib==3.1.2
Pillow==8.3.2
python_dateutil==2.8.1
emoji==0.5.4
